{% extends "base.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'accounts:contact-list' %}">Contacts</a>
    &rsaquo; Contact add
</div>
{% endblock %}

{% block content %}
<h1>Add Contact</h1>

<div id="content-main">
    <form method="post">
        {% csrf_token %}
        <div class="module">
            <table>
                {{ form.as_table }}
            </table>
        </div>
        <div class="submit-row">
            <p class="deletelink-box">
                <a href="{% url 'accounts:contact-list' %}" class="closelink">Cancel</a>
            </p>
            <input type="submit" value="Save">
        </div>
    </form>
</div>
{% endblock %}
