{% extends "admin/base.html" %}

{% block title %}Doge Bank administration{% endblock %}

{% block usertools %}
<div id="user-tools">
    {% block welcome-msg %}
        {% if user.is_authenticated %}
            Hi <strong>{% firstof user.get_short_name user.get_username %}</strong>.
        {% endif %}
    {% endblock %}
    {% block userlinks %}
        {% if user.is_authenticated %}
            <a href="{% url "logout" %}">log out</a>
        {% endif %}
    {% endblock %}
</div>
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <img src="https://s3.amazonaws.com/menda/other/doge_bank_logo.png" style="height: 50px; padding-right: 5px" />
    <a href="{% url 'index' %}">Doge Bank administration</a></h1>
{% endblock %}
